server {
    listen 80;

    location /images {
        alias /var/www/html/images/;
        autoindex on;
        expires 1h;
        add_header Cache-Control "public";
    }

    gzip on;
    gzip_static on;
    gzip_types image/jpeg image/png text/css application/javascript;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
}
